<link rel="stylesheet" href="/public/btnWL.css">
<link rel="stylesheet" href="/public/btnBid_.css">
<form method="GET">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="submit" formaction="/product/searchPrice"
                    class="btn btn-light {{#if this.activePrice}}active{{/if}}">Best Price
            </button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="submit" formaction="/product/searchTime"
                    class="btn btn-light {{#if this.activeTime}}active{{/if}}">Last Minute
            </button>
        </div>
        {{#if authenticated}}
            <div class="btn-group mr-2" role="group" aria-label="Second group">
                <button type="submit" formaction="/product/watchList"
                        class="btn btn-light {{#if this.activeWatchlist}}active{{/if}}">Watch List
                </button>
            </div>
        {{/if}}
    </div>
</form>

<!-- Page Content -->
<div class="products">
    <div class="container">
        <div class="row">
            {{#if this.empty}}
                <div class="text-center col-sm-12 col-lg-12 col-12">
                    <h3 class="card-title">Sorry we can not find any results matching '
                        {{#if searchpro}}
                            {{this.searchpro}}
                        {{/if}}'</h3>
                </div>
            {{else}}
                {{#each this.products}}
                    <div class="col-sm-4 mb-3 col-12 dev popular">
                        <div class="card h-100">
                            <a href="/detail/{{id}}">
                                <img src="{{image}}" title="{{name}}" class="rounded img-fluid m-1" width="250px" height="250px" alt="image">
                                <div class="card-body">
                                    <h4 class="card-title">{{name}} {{{new start}}} {{#if holderBid}}
                                        <img width="40px" height="40px" src="/public/icon/auction.png">
                                    {{/if}}
                                    </h4>
                                    <h5 class="card-title text-danger ">Current Price: {{format_number current}}</h5>
                                    <p class="card-text">Bidder: {{masked info}}</p>
                                    <p class="card-text">Date Post: {{timestamp_ start}}</p>
                                    <p class="card-text">Time Remaining: <span id="{{id}}"
                                                                               style="font-weight: bold;font-size: 20px">
                                    {{day}} days</span></p>
                                    {{#if cap}}
                                        <p class="card-text">Buy now:{{format_number cap}}</p>
                                    {{/if}}
                                    {{#if authenticated}}
                                        {{#if removewl}}
                                            <div>
                                                <form method="post">
                                                    <button type="submit" name="id" value={{id}} formaction="watchlist"
                                                            class="btn btn-danger">
                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    </button>
                                                </form>

                                            </div>
                                        {{else}}
                                            <div>
                                                <div class="container mt-2">
                                                    <div class="row">
                                                        <p class="card-text justify-content-center align-items-center mt-2">
                                                            <button class="btn-hover color-2" disabled>Bids:{{bids}}
                                                                <i class="fa fa-gavel" aria-hidden="true"></i>
                                                            </button>
                                                        </p>
                                                        <form method="post">
                                                            {{#if checkwl}}
                                                                <button type="button" class="buttonAdd ml-4" disabled>
                                                                    Added
                                                                    <i class="fa fa-check-circle-o"
                                                                       aria-hidden="true"></i>
                                                                </button>
                                                            {{else}}
                                                                <button type="submit" name="id" value={{id}}
                                                                        class="button ml-4"
                                                                        formaction="/product/byCat/watchlist">
                                                                    Watch List
                                                                    <i class="fa fa-bookmark-o" aria-hidden="true"></i>
                                                                </button>
                                                            {{/if}}
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        {{/if}}

                                    {{/if}}
                                </div>
                                <div class="card-footer text-muted">
                                    <a class="btn btn-sm btn-outline-primary"
                                       href="/detail/{{id}}" role="button">
                                        Details
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="/public/vendor/jquery/jquery.min.js"></script>
<script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Additional Scripts -->
<script src="/public/assets_layout/js/custom.js"></script>
<script src="/public/assets_layout/js/owl.js"></script>
<script src="/public/assets_layout/js/slick.js"></script>
<script src="/public/assets_layout/js/isotope.js"></script>
<script src="/public/assets_layout/js/accordions.js"></script>
<script>
    var timeArray = []
    var id = []
        {{#each this.products}}
        // Set the date we're counting down to
        var countDownDate = new Date("{{end}}").getTime();
        timeArray.push(countDownDate);
        id.push("{{id}}")
        {{/each}}
    for (let i = 0; i < timeArray.length; i++) {
        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = timeArray[i] - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Display the result in the element with id="demo"
            document.getElementById(id[i]).innerHTML = days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                // clearInterval(x);
                document.getElementById(id[i]).innerHTML = "EXPIRED";
            }
        }, 1000);
    }
</script>
<script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {
        //declaring the array outside of the
        if (!cleared[t.id]) {
            // function makes it static and global
            cleared[t.id] = 1; // you could use true and false, but that's more typing
            t.value = ""; // with more chance of typos
            t.style.color = "#fff";
        }
    }
</script>